<html>


<body>
<form action="http://localhost:8082/app" method="POST">


  <div class="container">
    <label for="Student ID"><b>Student ID</b></label>
    <input type="text" placeholder="Enter ID" name="sid" required>
      <br><br>

    <label for="Student Name"><b>Student Name</b></label>
    <input type="text" placeholder="Enter Name" name="sname" required>
    <br><br>


      <label for="Student Address"><b>Student Address</b></label>
    <input type="text" placeholder="Enter Address" name="saddress" required>
    <br><br>

      <label for="Student Marks"><b>Student Marks</b></label>
    <input type="text" placeholder="Enter Marks" name="smarks" required>
    <br><br>



    <button type="submit">Login</button>
      <br><br>

    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>


  </div>


</form>

</body>

</html>
